.imagem {
  display: block;
  width: 100%;
  height: auto;
  mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      #000 18%,
      #000 82%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      #000 18%,
      #000 82%,
      transparent 100%
    );
  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      #000 18%,
      #000 82%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      #000 18%,
      #000 82%,
      transparent 100%
    );
  -webkit-mask-composite: source-in;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
}
